@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@100;400&family=Roboto:wght@300&display=swap');

@font-face {
    font-family: 'monster' ;
    src: url('./fontes/Melted\ Monster.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'creepy' ;
    src: url('./fontes/Creepy\ Blood.ttf') format('truetype'),  url('./fontes/Creepy\ Blood.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('./imagens/fundo-inicio.png');
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
  
}

#titulo{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    color: #a00000;
    font-family: 'monster', 'Fredoka One', cursive;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 15px;
   
}

#container-historia{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
   
}



#historia{
    width: 60%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

#historia p{
    font-size: 27px;
    font-family: 'Fredoka One', cursive;
}

#botao-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#botao{
    width: 170px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color:rgba(255, 255, 255, 0.8) ;
    font-size: 17px;
    font-family: 'creepy', 'Fredoka One', cursive;
    margin-top: 30px;
    transition: 1s all;
    font-size: 25px;
}

#botao:hover{
    background-color: red;
    color: white;
    cursor: pointer;
    transform: scale(1.2);
    
}

#rodape{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'monster', Courier, monospace;
    text-align: center;
    font-size: 20px;
}


@media(max-width: 600px){         
    #rodape{
        font-size: 16px;
    }

    #botao{
        margin-bottom: 25px;
    }
    
}