@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@100;400&family=Roboto:wght@300&display=swap');


@font-face {
    font-family: 'creepy' ;
    src: url('../fontes/Creepy\ Blood.ttf') format('truetype'),  url('../fontes/Creepy\ Blood.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'monster' ;
    src: url('../fontes/Melted\ Monster.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    /* background: url(./849230.png) no-repeat; */
    background: url('../imagens/escolha-personagem-back.jpg') ;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
  

 
    
}


.titulo{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    color: #a01300;
    font-family: 'monster', 'Fredoka One', cursive;
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 18px;
    
    
}

#container{
    width: 100%;
    height: auto;
    flex-grow: 1;
}



#container-personagem{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
   
  
   
   
}

#escolhaPersonagem{
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    padding-bottom: 200px;
    
    
 
     
}


.texto p{
   width: 100%;
   padding: 10%;
   
}


#freddy-imagem{
    padding-top: 18px;
}

.escolhaImagem{
    width: 55%;
    height: auto;
    display: flex;
    
}

#escolhaPersonagem:hover{

    transform: scale(1.1);
 
}


.explicacao-personagem{
    width: 50%;
    height: auto;
    color: white;
    margin-top: 20px;
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    text-align: center;
}

#rodape{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'monster', Courier, monospace;
    font-size: 20px;
}


@media(max-width: 600px){
    #container-personagem{
        flex-direction: column;
        align-items: center;
    }


    .titulo{
        font-size: 25px;
    }

    #escolhaPersonagem{
        width: 200px;
        margin-bottom: 10px;
    }

}
